/* |||   Home Page ||| */

.mainTitle {
  font-size: 6rem;
  margin: auto;
  position: relative;
  color: white;
  text-shadow: 0 0 5px black;
}
.titleDiv {
  height: 800px;
  background-image: url("./img/justin-case-rVdoD3KGFCs-unsplash\ \(2\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
}
.scope {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
}
.services {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
}
