/* ||| Publications Page ||| */
.pubDiv {
  height: 100%;
  background-image: url("../img/crystal_bubble.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-shadow: 0 0 5px black; */
}

.pubListDiv {
  text-align: center;
}
.className {
  text-align: center;
}
.pubList {
  width: 80%;
  font-size: 1.2rem;
  display: inline-block;
}
.pubList li {
  margin-bottom: 1rem;
}
.pubTitle {
  text-align: center;
  background-color: black;
  color: white;
  width: auto;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 2rem;
}

/* ||| Media Queries ||| */

@media only screen and (max-width: 620px) {
  /* ||| Publications ||| */
  .pubList {
    height: 110vh;
  }
  .pubList li {
    padding: 0.1rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1600px) {
  /* ||| Publications ||| */
  .pubList {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1000px) {
  /* ||| Publications ||| */
  .pubList li {
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 800px) {
  /* ||| Publications ||| */
  .pubList {
    font-size: 0.9rem;
    height: auto;
  }
  .pubList li {
    padding: 0.1rem;
  }
  .price {
    width: 95%;
  }
}

@media only screen and (max-width: 400px) {
  .pubList {
    height: auto;
  }
}
