/* ||| Publications Page ||| */
.pubDiv {
  height: 100%;
  background-image: url("../img/art/Benzoic_Acid_Fusion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-shadow: 0 0 5px black; */
}
.evenList {
  color: rgb(174, 174, 174);
}
.pubListDiv {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}
.className {
  text-align: center;
}
.grid {
  background-color: black;
  border-radius: 2rem;
  color: white;
}
.pubList li {
  margin-bottom: 1rem;
}
.divider {
  border-bottom: 1px dashed white;
  padding: 0.2rem;
}

.pubTitle {
  text-align: center;
  background-color: black;
  color: white;
  width: auto;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 2rem;
}
.pubListIcon {
  color: white;
}

/* ||| Media Queries ||| */

@media only screen and (max-width: 800px) {
  /* ||| Publications ||| */
  .price {
    width: 95%;
  }
}
