/* ||| Global || */

* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

/* |||  Nav  ||| */

.navLogo {
  max-height: 3rem;
  border-radius: 1.2rem;
  padding-top: 0.2rem;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.nav :visited {
  color: white;
}
.navHeader {
  text-align: right;
  padding: 1rem 0rem;
}
.navFooter {
  text-align: right;
  display: flex;
  align-items: flex-end;
}
.navHeader a {
  padding: 1rem;
  text-decoration: none;
}
.navHeader :hover {
  background-color: white;
  color: black;
}
.navFooter a {
  padding: 1rem;
  text-decoration: none;
}
.navFooter :hover {
  background-color: white;
  color: black;
}
.navLogoDiv {
  text-align: left;
}

/* |||   Home Page ||| */

.mainTitle {
  font-size: 6rem;
  margin: auto;
  position: relative;
  color: white;
  text-shadow: 0 0 5px black;
}
.titleDiv {
  height: 800px;
  background-image: url("./img/justin-case-rVdoD3KGFCs-unsplash\ \(2\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
}
.scope {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
}
.services {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
}

/* ||| Publications Page ||| */
.pubDiv {
  height: 100%;
  background-image: url("./img/crystal_bubble.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 0 5px black;
}
.className {
  text-align: center;
}
.pubList {
  height: 90vh;
  font-size: 1.2rem;
}
.pubList li {
  padding: 0.5rem;
}

/* ||| Gallery Page ||| */
.galleryTitle {
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.galleryImg {
  height: 500px;
  margin: 0 auto;
}
.sliderDiv {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}
.galleryDiv {
  position: relative;
}
.bottomGalleryImg {
  margin: 0 auto;
  height: 500px;
  text-align: center;
  padding: 1rem;
}
.aboutArt {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.4rem;
}
.aboutArt div {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.pricing {
  margin: 0 auto;
  text-align: center;
  padding: 1 rem;
}
.price {
  padding: 1rem;
}
.crossedPolars {
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

/* ||| Contact Page ||| */

.contactDiv {
  height: 1100px;
  background-image: url("./img/smallerSnowflake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

address {
  font-size: 2rem;
  text-shadow: 0 0 5px black;
  padding: 0 0 0 1rem;
}
.email {
  font-size: 2rem;
  text-shadow: 0 0 5px black;
  padding: 0 0 0 1rem;
  margin: auto;
}

.addrDiv {
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 5px black;
  font-size: 1.2rem;
}
.contactPhone {
  font-size: 2rem;
  text-shadow: 0 0 5px black;
}
.contactDiv h1 {
  text-align: center;
  text-shadow: 0 0 5px black;
}
.contactDiv h2 {
  text-shadow: 0 0 5px black;
}
h3 {
  color: white;
}

/* ||| Media Queries ||| */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 620px) {
  /* ||| Gallery Page ||| */
  .aboutArt {
    flex-direction: column;
    text-align: center;
  }
  .aboutArt div {
    width: 90%;
    margin: 0 atuo;
  }
  .scottImgDiv {
    margin: 0 auto;
  }
  .price {
    width: 90vw;
    margin: 0 auto;
  }
  /* ||| Publications ||| */
  .pubList {
    height: 110vh;
  }
  .pubList li {
    padding: 0.1rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1600px) {
  /* ||| Publications ||| */
  .pubList {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  /* ||| Publications ||| */
  .pubList li {
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 800px) {
  /* ||| Publications ||| */
  .pubList {
    font-size: 0.9rem;
  }
  .pubList li {
    padding: 0.1rem;
  }
}
